li a {
  color: green;
}

body {
   background: white url("images/background.jpg") no-repeat;
   margin: -14;
   padding: 8;
   font-size: 14px;
   font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}
